<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>pages</display-name>
  
  <servlet>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>com.revature.servlets.login_servlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>GetAllUsers</servlet-name>
    <servlet-class>com.revature.servlets.users_servlet</servlet-class>
  </servlet>
  
  <servlet>
    <description></description>
    <display-name>logout_servlet</display-name>
    <servlet-name>logout_servlet</servlet-name>
    <servlet-class>com.revature.servlets.logout_servlet</servlet-class>
  </servlet>
  
  <servlet>
    <description></description>
    <display-name>new_ticket_servlet</display-name>
    <servlet-name>new_ticket_servlet</servlet-name>
    <servlet-class>com.revature.servlets.new_ticket_servlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ticket_status</servlet-name>
    <servlet-class>com.revature.servlets.users_servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  

  <servlet-mapping>
    <servlet-name>GetAllUsers</servlet-name>
    <url-pattern>/users/getAll</url-pattern>
  </servlet-mapping>
  

  
  <servlet-mapping>
    <servlet-name>logout_servlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  

  
  <servlet-mapping>
    <servlet-name>new_ticket_servlet</servlet-name>
    <url-pattern>/newticket</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ticket_status</servlet-name>
  	<url-pattern>/status</url-pattern>
  </servlet-mapping>
  
</web-app>